
.transaction-columns-container {
  overflow-x: auto;
  padding: 10px;
  background-color: #14232b;
  white-space: nowrap;
}

.transaction-columns {
  display: flex;
  width: max-content;
}

.transaction-column h2{
  color: #4894cc
}

.transaction-column {
  width: 300px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.transaction-column::after {
  content: "";
  position: absolute;
  top: 80px;
  right: 0;
  height: calc(100% - 30px);
  width: 1px;
  background-color: #0b1217;
}

.transaction-column:last-child::after {
  display: none;
}

.transaction-card {
  background-color: #394956;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  width: 250px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transaction-card.active {
  background-color: rgba(0, 0, 0, 0.7);
}

.transaction-card p {
  margin: 4px 0;
  color: white;
}

.transaction-card h4 {
  font-weight: bold;
  color: white;
}
.transactions-headers{
  display: flex;
  justify-content: space-between;
  
}

.transaction-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 8px;
}

.transaction-detail p {
  margin: 0;
  color: white;
  text-align: left;
  min-width: 80px;
}

.transaction-column h3 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

hr {
  margin: 8px 0;
  border: none;
  border-top: 1px solid #e0e0e0;
}

.status-icon {
  margin-left: 10px;
  font-size: 16px;
}

.status-icon.green {
  color: #28a745;
}

.status-icon.red {
  color: #dc3545;
}

.transaction-address-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.transaction-address-link:hover {
  color: #228dcb;
}

.material-symbols-outlined:hover{
  color: #228dcb;
}

.load-more-container{
  margin-top: 20px;
}

.load-more-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

}

.arrow-icon {
  font-size: 60px;
  color: white;
}

.load-more-button:hover .arrow-icon {
  cursor: pointer;
  color: #228dcb;
}